@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
}

body{
    background-color: #004243;
    color: white;
}

:root {
    --red-buttons: #CD0000;
    --light-green:#306F5E;
    --middle-green: #13544D;
    --dark-green: #004243;
}
